* {
	box-sizing: border-box;
}
body {
	background: #000;
}
.cards {
	width: 640px;
	height: 640px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
}
.card {
	width: calc(25% - 10px);
	height: calc(33% - 10px);
	margin: 5px;
	background: #fff;
	border: 1px solid orangered;
}
