* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	background: #000;
	font-family: 'Bevan', cursive;
	flex-wrap: wrap;
}

.cards {
	width: 640px;
	height: 640px;
	margin: auto;
	display: flex;
	/* color: #fff; */
	display: relative;
	flex-wrap: wrap;
	perspective: 1000px;
}

.card {
	width: calc(25% - 10px);
	height: calc(33.333% - 10px);
	margin: 5px;
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.card:active {
	transform: scale(0.97);
	transition: transform .2s;
}

/* .memory-card.flip, */
.card.flip {
	transform: rotateY(180deg);
}
img.ball,
img.escher {
	width: 100%;
	padding-top: 25%;
}
.front,
.back {
	width: 100%;
	height: 100%;
	padding: 0;
	position: absolute;
	border-radius: 10px;
	background: #fff;
	backface-visibility: hidden;
}
.front {
	padding: 0px;
	border-radius: 10px;
}
/* .car {
	width: 100%;
} */
.front {
	transform: rotateY(180deg);
}
/* img.front-face {
	width: 75%;
}
img.back-face {
	width: 50%;
} */

/* //delay transistion setinterval*/
.hide {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 1s, opacity 1s;
}
img.car {
	padding: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	border-radius: 10px;
}
